.board {
    display: grid;
    gap: 10px;
    width: fit-content;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover {
    cursor: pointer;
}